extends _master.jade

block body

    section.wrapper(
    id='js-conainer',
    class='disable')

        ul.levels
            - for (var x = 10; x > 0; x--)
                li: .levels__number= x * 10
        
        ul.bars.shadow
            - for (var x = 0; x < 12; x++)
                li.js-stats 
                    .bar.shadow
                    .bar.bar__top
                        span.bar__txt high
                        span.bar__txt low
        ul.months
            li jan
            li feb
            li mar
            li apr
            li may
            li jun
            li jul
            li aug
            li sept
            li oct
            li nov
            li dic

        .year#js-year
            .year__name
            .year__name

    #js-nav-prev.nav.nav-prev(
    class='ripple',
    ripple-color='#c2c2c2'): span.arrow
    #js-nav-next.nav.nav-next(
    class='ripple',
    ripple-color='#c2c2c2'): span.arrow

